name: Validate Documentation Links
on:
  workflow_dispatch:
    # no content, allows manual triggering

  pull_request:
    branches:
      - main
    paths:
      - "docs/**"

  merge_group:
    branches:
      - main

jobs:
  validate-site-links:
    runs-on: ubuntu-latest
    permissions:
      packages: read

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pinned to 6.0.2
        with:
          fetch-depth: 0 # required to access tags
          submodules: "true"

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # pinned to v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build devcontainer image
        run: |
          docker build --cache-from ghcr.io/azure/azure-service-operator/aso-devcontainer:latest --tag devcontainer:latest .devcontainer
        env:
          DOCKER_BUILDKIT: 1

      - name: Run devcontainer image
        id: devcontainer
        run: |
          container_id=$(docker create -w /workspace -v $GITHUB_WORKSPACE:/workspace -v /var/run/docker.sock:/var/run/docker.sock devcontainer:latest)
          docker start "$container_id"
          echo "container_id=$container_id" >> $GITHUB_ENV

      - name: Build & validate docs site
        run: |
          container_id=${{ env.container_id }}
          docker exec "$container_id" task build-docs-site
